In [ ]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

# ans 1:-
'''
Database is where we store our data/information.

Type: SQL databases are primarily called Relational Databases (RDBMS); whereas NoSQL databases are primarily called non-relational or distributed databases

Language: SQL databases use a structured query language (SQL) for defining and manipulating data, which is versatile and widely-used, especially for complex queries.
NoSQL databases,on the other hand, have a dynamic schema for unstructured data and the syntax varies from database to database

Scalability: SQL databases are vertically scalable, which means that you can increase the load on a single server by increasing things like RAM, CPU, or SSD.
NoSQL databases are horizontally scalable, meaning you handle more traffic by sharding, or adding more servers in your NoSQL database

Structure: SQL databases are table-based, making them a better option for applications that require multi-row transactions.
NoSQL databases can be key-value pairs, document-based, graph databases, or wide-column stores

Properties: SQL databases follow ACID properties (Atomicity, Consistency, Isolation, and Durability)
whereas the NoSQL database follows the Brewers CAP theorem (Consistency, Availability, and Partition tolerance)

Support: Great support is available for all SQL databases from their vendors and a lot of independent consultants.
For some NoSQL databases, you still have to rely on community support and only limited outside experts are available for setting up and deploying your large-scale NoSQL deploy
'''

In [1]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# ans 2:-
'''
DDL stands for Data Defination Language.

CREATE :- it is used to create the database or its objects like table, index, views, stored procedure, function, and triggers

EX :-

CREATE TABLE Employees (
    EmployeeID int,
    FirstName varchar(255),
    LastName varchar(255),
    Department varchar(255)
);


DROP :- This command is used to delete objects from the database.

Ex:-

DROP TABLE Employees;


ALTER :- This command is used to alter the structure of the existing database.

Ex:-

ALTER TABLE Employees
ADD Email varchar(255);


TRUNCATE :- This command is used to remove all records from a table, including all spaces allocated for the records

Ex:-

TRUNCATE TABLE Employees;

'''

''

In [ ]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

# ans 3 :-

'''
DML stands for Data Manipulation Language.

INSERT :- This command adds one or more records to a database table. The syntax is INSERT INTO [table name] [column(s)] VALUES [value(s)]

Ex:-

INSERT INTO Employees (EmployeeID, FirstName, LastName, Department)
VALUES (1, 'John', 'Doe', 'HR');

UPDATE :- This command modifies data of one or more records. The syntax is UPDATE [table name] SET [column name = value] WHERE [condition].

Ex:-

UPDATE Employees
SET Department = 'Finance'
WHERE EmployeeID = 1;

DELETE :- This command removes one or more records from a table according to specified conditions. The syntax is DELETE FROM [table name] WHERE [condition].

Ex:-

DELETE FROM Employees
WHERE EmployeeID = 1;

'''

In [ ]:
# Q4. What is DQL? Explain SELECT with an example.

# ans 4:-

'''
DQL stands for Data Query Language.

SELECT :- It allows to get the data out of the database to perform operations with it.

Ex:-

SELECT * FROM Employees;

'''

In [ ]:
# Q5. Explain Primary Key and Foreign Key.

# ans 5:-

'''
PRIMARY KEY:-

    A primary key is a unique identifier for each record in a database table.
    It ensures that data in the specific column is unique.
    A primary key column has a unique value and doesnâ€™t store repeating values.
    A primary key can never take NULL values.
    For example, in the case of a student, the roll number of the student plays the role of the primary key.
    Similarly, when we talk about employees in a company, the employee ID functions as the primary key for identification.

FOREIGN KEY:-
    A foreign key is a field or collection of fields in a table that refers to the primary key of another table.
    It is responsible for managing the relationship between the tables.
    The table which contains the foreign key is often called the child table, and the table whose primary key is being referred by the foreign key is called the parent table.
    For example, when we talk about students and the courses they have enrolled in,
    the courseId acts as the primary key for the department table whereas it acts as the foreign key in the student table.

'''

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

# ans 6:-

'''
CODE :-

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)
mydb.close()

CURSOR :- It help us to get/recive data form database or its object. It work like a pointer.

EXECUTE :- It helps us to execute any queary of SQL in python. 
'''

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.

# ans 7:-

'''
The order of execution of SQL query clauses is as follows:

1. FROM clause (including `JOIN` clauses): The table on which the DML operation is performed has to be processed first. If the query contains `JOIN` clauses, tables are combined by merging rows involved, before the `FROM` clause.

2. WHERE clause: After the table data on which other operations take place is processed by `JOIN` and `FROM` clause, the `WHERE` clause is evaluated. The `WHERE` clause filters the rows based on conditions from the table evaluated by the `FROM` clause.

3. GROUP BY clause: If the query has a `GROUP BY` clause, it is executed next. Here, the data is grouped based on the common value in the column specified in the `GROUP BY` clause.

4. HAVING clause: If the query had a `GROUP BY` clause, the `HAVING` clause is evaluated immediately after `GROUP BY`. The `HAVING` clause is not compulsory for `GROUP BY`.

5. SELECT clause: The `SELECT` is executed next after `GROUP BY` and `HAVING`. It computes expressions (arithmetic, aggregate, etc.) and aliases given in the `SELECT` clause.

6. DISTINCT clause: The `DISTINCT` clause is executed after evaluating expressions, and alias references in the previous step.

7. ORDER BY clause: The `ORDER BY` clause is executed after the `DISTINCT` clause.

8. LIMIT clause: The `LIMIT` clause is executed last.

'''